.shadow-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  border-radius: 5px;
}

.shadow-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.shadow-card-head {
  text-align: center;
}

.shadow-card-head h5 {
  color: #ffffff;
}
.shadow-card-body h5 {
  text-align: center;
}

#profile-root {
  width: 100%;
  display: flex;
  justify-content: center;
}

#profile-body {
  background-color: #001738;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #f9f9fa;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}
.m-l-20 {
  margin-left: 20px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

#card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-2 {
  margin-bottom: 2px;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.m-t-5 {
  margin-top: 5px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.form-control {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;

  border-radius: 50px;
}

.shadow-card-head.col-sm-3 {
  width: auto;
  height: 100%;
}
.saveButton {
  padding-bottom: 1rem;
  margin-left: 30%;
}
